{% load staticfiles %}
<DOCTYPE html>
<html ng-app="translateapp">
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'js/angular-1.6.1.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </head>

    <body>
        <div class="container" ng-controller="TranslationsController">
            {% verbatim %}
                <div class="jumbotron">
                    <h1>translater</h1>
                    <p>Translate text to English</p>
                </div>
                <div class="row center">
                    <table class="table">
                        <tr>

                            <td class="col col-lg-6 screens">
                                <form name="translateForm" ng-submit="submit()">
                                    <div class="form-group">
                                    <textarea class="form-control" name="formInput" rows="5" placeholder="Cómo estás" ng-model="translate.text" required></textarea>
                                    <br>
                                    <span id="form-message" ng-show="translateForm.formInput.$touched && translateForm.formInput.$invalid">text is required.</span>
                                    <button type="submit" class="btn btn-primary">translate</button>
                                    </div>
                                </form>
                            </td>

                            <td class="col col-lg-6 screens text-center">
                                <h3 id="default-msg" ng-if="results!==true">
                                    what are you waiting for?
                                </h3>

                                <div ng-if="results==true">
                                    <!-- <show-results></show-results> -->
                                    {{ inputText }}
                                    <br>
                                    {{ detectedLanguageName }}
                                    <br>
                                    {{ detectedLanguageCode }}
                                    <br>
                                    {{ translatedText }}
                                    <br>
                                    {{ targetLanguageName }}
                                    <br>
                                    {{ targetLanguageCode }}
                                </div>
                            </td>

                        </tr>
                    </table>
                </div>

                <div class="row center">
                    <table class="table">
                        <tr>
                            <th>
                                <td>detected language</td>
                                <td>input text</td>
                                <td>translated language</td>
                                <td>translated text</td>
                            </th>
                        </tr>
                    </table>
                </div>
            {% endverbatim %}
            <div class="row">
                <div class="col-md-12 text-center text-grey">
                    <p style="color: #adadad; margin-top: 2rem;">Sangeeta Jadoonanan &copy; 2017</p style="color: #adadad;">
                </div>
            </div>
        </div>
    </body>
</html>