{% load staticfiles %}
<DOCTYPE html>
<html ng-app="translateapp">
    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
        <script src="{% static 'js/jquery-3.1.1.js' %}"></script>
        <script src="{% static 'js/angular-1.6.1.js' %}"></script>
        <script src="{% static 'js/script.js' %}"></script>
    </head>

    <body>
        <div class="container" ng-controller="TranslationsController">
            {% verbatim %}
                <div class="jumbotron">
                    <h1>translater</h1>
                    <p>Translate text to English</p>
                </div>
                <div class="row center table-responsive">

                    <table class="table" id="translateTable">
                        <tr>
                            <td class="col col-lg-6 screens">
                                <form name="translateForm" ng-submit="submit()">
                                    <div class="form-group">
                                    <textarea class="form-control" name="formInput" rows="5" placeholder="Cómo estás" ng-model="translate.text" required></textarea>
                                    <br>
                                    <span id="form-message" ng-show="translateForm.formInput.$touched && translateForm.formInput.$invalid">text is required.</span>
                                    <button type="submit" class="btn btn-primary">translate</button>
                                    </div>
                                </form>
                            </td>

                            <td class="col col-lg-6 screens text-center">
                                <h3 id="default-msg" ng-if="results!==true">
                                    what are you waiting for?
                                </h3>

                                <div ng-if="results==true">
                                    <show-results></show-results>
                                </div>
                            </td>
                        </tr>

                    </table>
                </div>

                <div class="row center table-responsive">

                    <table class="table table-hover table-striped" id="translationsListTable">
                        <thead>
                            <tr>
                                <th>input text</th>
                                <th>detected language</th>
                                <th>translated text</th>
                                <th>translated language</th>
                            </tr>
                        </thead>
                        
                        <tbody>
                            <tr ng-repeat="t in translation_events track by $index">
                                <td class="text">"{{ t.input_text.text }}"</td>
                                <td>{{ t.input_text.language_name }} ({{ t.input_text.language_code }})</td>
                                <td class="text">"{{ t.translated_text.text }}"</td>
                                <td>{{ t.translated_text.language_name }} ({{ t.translated_text.language_code }})</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                
            {% endverbatim %}
            <div class="row">
                <div class="col-md-12 text-center text-grey">
                    <p style="color: #adadad; margin-top: 2rem;">Sangeeta Jadoonanan &copy; 2017</p style="color: #adadad;">
                </div>
            </div>
        </div>
    </body>
</html>