body {
  padding-top: 20px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.screens {
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    padding: 30px;
}

textarea.ng-pristine {
    border-color: none;
}

table#translateTable td:last-child {
    background-color: #F9F9F9;
}

table#translationsListTable tbody tr th {
    border: none;
}